@require 'constants.styl'

// --- 1-st block
divide-lines-width = 1.5%
divide-lines-between = 1%
divide-lines-x-offset = 7%

min = "min(%s, %s)"

block-1-circle-color = empColor2
block-1-bottom-image-width = min % (30vw 30vh)

block-2-circle-size = min % (20vw 20vh) //was 150px
block-2-fill-color = #111111
block-2-text-offset-between = 30px
block-2-div-stroke-width = min % (0.7vw 0.7vh)

block-3-images-margin = 5%

block-4-text-path-width = min % (30vw 30vh) //300px
block-4-text-path-height = min % (180vw 180vh)  //1800px
block-4-vertical-line-width = min % (0.8vw 4px)

block-4-line-color = empColor2
block-4-info-underline-width = 2px
block-4-info-height = 350px //was 300px
block-4-circle-size-max = min % (70vw 70vh) //was 550px

bouncy = cubic-bezier(0.34,1.61,0.7,1)

.absolute-wrapper
    position relative
.absolute-wrapper > *
    position absolute

.landing
    position relative
    pointer-events none
.landing > div
    position fixed
    width 100%
    height 100vh
    pointer-events none
.landing > div > *
    pointer-events auto


// -------- Block 1
.block-1 > *
    background empColor1
.block-1
    .divide-line
        width 100%
        height 100%
    .divide-line.left
        clip-path polygon((50% - divide-lines-between / 2 - divide-lines-width + divide-lines-x-offset) 0%,  (50% - divide-lines-between / 2 + divide-lines-x-offset) 0%,  (50% - divide-lines-between / 2 - divide-lines-x-offset) 100%,  (50% - divide-lines-between / 2 - divide-lines-x-offset - divide-lines-width) 100%)
    .divide-line.left.animate
        animation roll-down-divide-line-left 0.5s ease-out forwards
    .divide-line.right
        clip-path polygon((50% + divide-lines-between / 2 + divide-lines-x-offset) 0%,  (50% + divide-lines-between / 2 + divide-lines-width + divide-lines-x-offset) 0%,  (50% + divide-lines-between / 2 + divide-lines-width - divide-lines-x-offset) 100%,  (50% + divide-lines-between / 2 - divide-lines-x-offset) 100%)
    .divide-line.right.animate
        opacity 0
        animation roll-up-divide-line-right 0.5s ease-out forwards
        animation-delay 0.25s


    .plate
        background black
        animation clip-path 0.1s ease
    .plate.left
        clip-path polygon(0% 0%, (50% - divide-lines-between / 2 - divide-lines-width + divide-lines-x-offset) 0%, (50% - divide-lines-between / 2 - divide-lines-x-offset - divide-lines-width) 100%, 0% 100%)
    .plate.right
        clip-path polygon((50% + divide-lines-between / 2 + divide-lines-width + divide-lines-x-offset) 0%, 100% 0%, 100% 100%, (50% + divide-lines-between / 2 + divide-lines-width - divide-lines-x-offset) 100%)

    .text
        font-size fontSizeBig
        background none
        color textColor1
        width 30%
        transform translateY(-50%) // js animable
    .text.left
        text-align left
        left 5%
        top 40%
    .text.right
        text-align right
        right 5%
        top 60%

    .bottom-image
        background none
        width block-1-bottom-image-width
        bottom 0
        left 50%
        transform translate(-20%, 20%)

// ------- Block 2
.block-2 > *
    stroke empColor2
    background empColor2
    border-color empColor2
.block-2
    .circle
        width block-2-circle-size
        height block-2-circle-size
    .circle.centered
        transform rotate(-90deg) translate(50%, -50%) // js animable
    svg.circle, .lighting-stroke
        stroke-dasharray 0 1000 // js animable
        background transparent // css animable
        transition fill 0.5s ease, background-color 0.5s ease
    svg.circle.filled
        fill block-2-fill-color
    div.filled
        background block-2-fill-color

    .text
        background none
        color textColor1
        font-size fontSizeBig
        max-width 30%
        top 50%
        left 50%
        transition padding ease 0.3s
    .text.left
        transform translate(-100%, -50%)
        padding-right block-2-text-offset-between
    .text.right
        transform translate(0, -50%)
        padding-left block-2-text-offset-between
    .text.left.moved
        padding-right "calc(%s + %s / 2)" % (block-2-text-offset-between block-2-circle-size)
    .text.right.moved
        padding-left "calc(%s + %s / 2)" % (block-2-text-offset-between block-2-circle-size)

// ------- Block 3
.block-3
    .bg-carousel
        height 100%
        transform translateX(-100% - block-3-images-margin * 6) // js animable
        opacity 0.2 !important
        display flex
        flex-direction row
        img
            height (100% - block-3-images-margin * 6)
            padding (block-3-images-margin) block-3-images-margin

// ------- Block 4
.block-4
    .text-path
        width block-4-text-path-width
        height block-4-text-path-height
        fill empColor5
        overflow visible
        top 50%
        left 50%
        margin-top "calc(%s / -2)" % block-4-text-path-width
        margin-left "calc(%s / -2)" % block-4-text-path-width
        letter-spacing 10px
        font-size calc(0.5em + 1vw)
    .text-path path
        fill none

    .spikes
        transition opacity 1s ease

    .inside-circle
        opacity 0 // js animable
        height block-2-circle-size //js animable
        width  block-2-circle-size //js animable
        border-radius 50%
        border 1px block-4-line-color solid // js animable
        top 50% // js animable
        left 50%
        transform translate(-50%, -50%)
        transition height 0.3s ease, width 0.1s ease, border-width 0.2s bouncy;
        pointer-events none
    .inside-circle.button
        transition height 0.3s ease, width 0.1s ease, border-width 0.2s bouncy, background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease
        cursor pointer
        pointer-events all
    .inside-circle.button ~ .text.centered
        transition letter-spacing 0.25s ease, font-size 0.25s ease
    .inside-circle.button:hover
        color textColor1
        background #FFD00010
        box-shadow 0 0 20px empColor2, 0 0 10px empColor2 inset
    .inside-circle.button:hover ~ .text.centered
        letter-spacing 10px
        font-size font-size fontSizeBig

    .vertical-line
        top 50%
        left 50%
        margin-top "calc(%s / -2)" % block-4-vertical-line-width
        margin-left "calc(%s / -2)" % block-4-vertical-line-width
        width block-4-vertical-line-width // js animable
        background block-4-line-color
        box-shadow 0 0 5px block-4-line-color
        height 0 //js animable
        border-radius "calc(%s / 2)" % block-4-vertical-line-width
        transition: width 0.2s ease;
    .vertical-line.bouncy
        transition: width 0.2s bouncy, margin-top 0.2s bouncy, height 0.15s bouncy;

    .text.centered
        position fixed
        font-size fontSizeBig
        letter-spacing 8px
        color textColor1
        font-weight bold
        margin-top 1.5%

    .info-block > *
        height block-4-info-height
        width 45%
        display flex
        flex-direction column
        justify-content flex-end
    .info-block
        top 50%
        left 0
        width 100%
        margin-top (block-4-info-height / 2)
        .right
            margin-left 50%
            margin-right auto
            text-align left
            .underline
                background linear-gradient(90deg, block-4-line-color 50%, transparent 100%)
                align-self flex-start
        .left
            margin-right 50%
            margin-left auto
            text-align right
            .underline
                background linear-gradient(90deg, transparent 0%, block-4-line-color 50%)
                align-self flex-end
        .text
            font-size calc(0.8em + 1.5vw);
            color empColor5
            padding 20px
            opacity 1 // css animable
            transition opacity 0.5s ease
        .underline
            height block-4-info-underline-width
            width 100% // css animable
            transition width 0.5s ease
        .closed
            .text
                opacity 0
            .underline
                width 0
    .info-block > *:last-child
        .text
            font-size fontSizeMiddle

    .image-click
        width min % (5vw 5vh)
        transform translate(-50%, -50%)
        top 60%
        left 50%
        pointer-events none

// ------- All
svg.lighting-stroke
    background none
    fill transparent
    stroke-width 3px
    overflow visible
    stroke-linecap round
svg.lighting-stroke + svg.lighting-stroke
    filter blur(10px)
div.lighting-stroke
    box-shadow 0 0 3px colorShadow, 0 0 12px empColor2//, 0 0 3px colorShadow inset, 0 0 12px empColor2 inset
    border-width block-2-div-stroke-width
    border-style solid
    border-radius 50%

.centered
    transform translate(-50%, -50%)
    top 50%
    left 50%


@keyframes roll-down-divide-line-left
    0%
        opacity 0
        clip-path polygon((50% - divide-lines-between / 2 - divide-lines-width + divide-lines-x-offset) 0%, (50% - divide-lines-between / 2 + divide-lines-x-offset) 0%, (50% - divide-lines-between / 2 - divide-lines-width / 2 + divide-lines-x-offset) 0%, (50% - divide-lines-between / 2 - divide-lines-width / 2 + divide-lines-x-offset) 0%)
    35%
        opacity 1
        clip-path polygon((50% - divide-lines-between / 2 - divide-lines-width + divide-lines-x-offset) 0%, (50% - divide-lines-between / 2 + divide-lines-x-offset) 0%, (50% - divide-lines-between / 2 - divide-lines-width / 2 - divide-lines-x-offset) 100%, (50% - divide-lines-between / 2 - divide-lines-width / 2 - divide-lines-x-offset) 100%)
    100%
        opacity 1
        clip-path polygon((50% - divide-lines-between / 2 - divide-lines-width + divide-lines-x-offset) 0%, (50% - divide-lines-between / 2 + divide-lines-x-offset) 0%, (50% - divide-lines-between / 2 - divide-lines-x-offset) 100%, (50% - divide-lines-between / 2 - divide-lines-x-offset - divide-lines-width) 100%)
@keyframes roll-up-divide-line-right
    0%
        opacity 0
        clip-path polygon((50% + divide-lines-between / 2 + divide-lines-width / 2 - divide-lines-x-offset) 100%,  (50% + divide-lines-between / 2 + divide-lines-width / 2 - divide-lines-x-offset) 100%,  (50% + divide-lines-between / 2 + divide-lines-width - divide-lines-x-offset) 100%,  (50% + divide-lines-between / 2 - divide-lines-x-offset) 100%)
    35%
        opacity 1
        clip-path polygon((50% + divide-lines-between / 2 + divide-lines-width / 2 + divide-lines-x-offset) 0%,  (50% + divide-lines-between / 2 + divide-lines-width / 2 + divide-lines-x-offset) 0%,  (50% + divide-lines-between / 2 + divide-lines-width - divide-lines-x-offset) 100%,  (50% + divide-lines-between / 2 - divide-lines-x-offset) 100%)
    100%
        opacity 1
        clip-path polygon((50% + divide-lines-between / 2 + divide-lines-x-offset) 0%,  (50% + divide-lines-between / 2 + divide-lines-width + divide-lines-x-offset) 0%,  (50% + divide-lines-between / 2 + divide-lines-width - divide-lines-x-offset) 100%,  (50% + divide-lines-between / 2 - divide-lines-x-offset) 100%)
