@require 'constants.styl'

close-btn-size = 25px

.modal-background
    position fixed

    top 0
    width 100%
    height 100vh
    z-index 999

    background-color colorShadow

    .modal
        margin-top 200px

        .close-btn
            position absolute
            color textColor2
            text-shadow textLightingNormal2
            right 20px
            top 10px
            width close-btn-size
            height close-btn-size
            transition all 0.3s ease
        .close-btn:hover
            color textColor1
            text-shadow textLightingNormal1

        .form-content
            margin-top 40px
        .title
            margin-bottom 15px
            .primary
                font-size 1.2rem
                font-weight normal
